@use '../../styles/variables.scss' as *;
.loginPage {
  background: $background;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;

  &__header {
    display: inherit;
    justify-content: left;
  }
  
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  h1 {

  }
}
